<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully booked a flight on FlightBooker, <%= @user.name %></h1>
    <p>
      Your booking details are at <%= @url %>
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>
